body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    margin-bottom: 50px;
}

header h1 {
    font-size: 3em;
    margin: 0;
    font-weight: bold;
}

header h2 {
    font-size: 1.5em;
    margin: 10px 0;
    font-weight: normal;
}

header p {
    font-size: 1.2em;
    margin: 5px 0;
}

.buttons {
    margin-top: 20px;
}

.buttons .btn {
    display: inline-block;
    margin: 10px 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.buttons .btn:hover {
    background-color: #555;
}

main {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

main h3, main h4 {
    text-align: center;
    margin-top: 30px;
    color: #333;
}

main p {
    text-align: justify;
    margin-bottom: 20px;
}

footer {
    padding: 20px;
    background-color: #f1f1f1;
    border-top: 1px solid #ddd;
    text-align: center;
}

footer p {
    margin: 5px 0;
    font-size: 0.9em;
}
