body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    width: 90%; /* Ensures there is space on left and right regardless of screen size */
    padding: 2em;
    background: #fff;
    margin: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center-align text */
}

header {
    background: #333;
    color: #fff;
    padding: 1em 0;
}

header h1, header p {
    margin: 0.2em;
}

section {
    padding: 1em 0;
}

section h3 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5em;
}

footer {
    background: #f4f4f4;
    padding: 1em 0;
}

footer p {
    margin: 0.5em;
}

pre {
    text-align: left; /* BibTeX content aligns left for readability */
    white-space: pre-wrap; /* Ensures the text wraps within the container */
}
